
.portfolio{
padding-top: 60px;
display: flex;
justify-content: space-evenly;
width: 100%;
}
.main-tbl {
text-align: center;
}
.portfolio > div{
padding: 0px 50px;
width: 400px;
}
.main-tbl td {
border-right: 1px solid #000;
border-top: none;
width: 400px;
}

